::-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px rgba(255,59,48,1.5) inset;-webkit-box-shadow: none;}
::-webkit-scrollbar {width: 10px;height: 10px;border-radius: 10px;background: whitesmoke;border-radius: 0px;}
::-webkit-scrollbar-thumb {width: 0px;height: 0px;border-radius: 0px;background: #111;}
::-webkit-scrollbar-button {height: 0;width: 0;border-radius: 10px;}

[data-before]:before { content: attr(data-before); }
[data-after]:after { content: attr(data-after); }

body {width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: 0;background: #1a1a1a;color: white;overflow: hidden;}

nav {width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;text-align: center;overflow-y: hidden;}
nav > section {margin: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;height: 86px;white-space: nowrap;}
nav > section > * {width: 86px;height: 86px;text-align: center;line-height: 36px;justify-content: center;align-content: center;flex-direction: column;display: inline-block;}
nav > section > :first-child { margin-left: 43px; }
nav > section > :last-child { margin-right: 43px; }
nav > section > *:before {font-size: 36px;width: 100%;height: 60px;line-height: 60px;text-align: center;display: block;}
nav > section > *:after {font-size: 12px;}
